html {
    background-color: black;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 760px;
    margin: 0 auto;
<<<<<<< HEAD
    background-color: lightgray;
    border: 5px dashed #8B0305;
=======
    background-color: white;
    border: 1px solid #001963;
    padding: 5px;
>>>>>>> 75a99f3591e3122424cbbfdf1966f09411badd3f
}
header {
    margin: 0;
    border-bottom: 2px solid black;
    padding: 0;
}
nav{
	margin-left: 0;
}
footer {
    clear: both;
    margin-top: 0;
    padding-right: 0;
    border-top: 2px solid black;
}
footer {
    text-align: right;
    font-size: 80%;
    margin: 0;
}

h1 {
    font-size: 150%;
    margin-left: 15px;
    padding-bottom: 0;
}
h2 {
    font-size: 120%;
    margin-left: 15px;
    padding: 0;
}
h3 {
	font-size: 110%;
	margin-left: 15px;
	padding-bottom: 0;
}
p {
    margin-left: 15px;
    padding: 0;
}

ul {
    margin: 0;
    padding-bottom: 15px;
}
header {
    margin: 0;
    padding: 0;
}
a {
    color: #3333CC;
    font-weight: bold;
}
a:hover {
    color: #3333CC;
}
table {
    border: 1px solid #001963;
    border-collapse: collapse;
<<<<<<< HEAD
	margin-left: 15px;
	margin-bottom: 15px;
	background-color: white;
	border: 3px thin solid #480001;
=======
    margin: 20px;
>>>>>>> 75a99f3591e3122424cbbfdf1966f09411badd3f
}
td, th {
    border: 1px dashed #001963;
    padding: 5px;
    text-align: left;
	align-items: center;
}
#no_border {
    border: 0px;
}
#no_border td {
    border: 0px;
}

form {
    margin-left: 15px;
}
br {
    clear: left;
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

.right {
    text-align: right;
}
.error {
    color: red;
}
.message {
    margin-left: .5em;
    width: 15em;
}

#aligned {
    margin: .5em 0 2em;
}
#aligned label {
    width: 8em;
    margin-top: .2em;
    margin-right: 1em;
    margin-bottom: .5em;
    float: left;
}
#aligned input {
    float: left;
}
#aligned input[text] {
    width: 15em;
}
#aligned .message {
    margin-left: .5em;
    width: 15em;
}